@tailwind base;
@tailwind components;
@tailwind utilities;



  @font-face {
      font-family: 'Negaar-Bold';
      src: url('../public/Fonts/Negaar\ Bold.ttf') format('truetype');
      }
  @font-face {
      font-family: 'Negaar-Regular';
      src: url('../public/Fonts/Negaar\ Regular.ttf') format('truetype');
      }

  @font-face {
      font-family: 'koodak';
      src: url('../public/Fonts/B\ Koodak.ttf') format('truetype');
      }
  @font-face {
      font-family: 'ComicSans';
      src: url('../public/Fonts/ComicSansMS3.ttf') format('truetype');
      }
  @font-face {
      font-family: 'Extender';
      src: url('../public/Fonts/Mj_Extender\ X4.ttf') format('truetype');
      }
  @font-face {
      font-family: 'Vanilla';
      src: url('../public/Fonts/Mj_Vanilla.ttf') format('truetype');
      }
  @font-face {
      font-family: 'Titr';
      src: url('../public/Fonts/BTitrBold.ttf') format('truetype');
      }
  @font-face {
      font-family: 'Vazir';
      src: url('../public/Fonts/VazirMedium.ttf') format('truetype');
      }


    /* styles */



    .scrollbar-left::-webkit-scrollbar {
        width: 12px;
        height: 12px;
      }
      
      .scrollbar-left::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      
      .scrollbar-left::-webkit-scrollbar-thumb {
        background: #888;
      }
      
      .scrollbar-left::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      
      .scrollbar-left {
        scrollbar-width: thin;
        scrollbar-color: #888 #f1f1f1;
        direction: rtl;
      }
      .ant-image-preview-operations {
        display: none;
      }

      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
      
      .pulse {
        animation: pulse 1s infinite;
      }